.container {
  justify-items: center;
  display: grid;
  grid-template-columns: [col1-start] auto [col1-end];
  grid-template-rows: [row1-start] 150px [row1-end] auto [third-line] auto [last-line];
  grid-auto-flow: column;
}
.item-a {
	 background-color: red;
    width: 30%;
    height: 70px;
    border: 2px solid #2d2525;

  
}
.item-d { 
	justify-self: left;
	margin-top: 130px;
	background-color: yellow;
    width: 95%;
    height: 70px;
    border: 2px solid #2d2525;

}
.item-c {
	justify-self: left;
	 background-color: green;
    width: 95%;
    height: 220px;
    border: 2px solid #2d2525;
    grid-row-start: row1-start;


}
.item-b {
	background-color: blue;
    width: 30%;
    height: 200px;
    border: 2px solid #2d2525;

}

body{
	margin: 20px;
    padding: 30px 30px; 
    border: 2px solid #2d2525;
}
